*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(163, 162, 148, 0.7), rgba(163,162,148,0.7)), url(img/crochetbanner3.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}

nav a{
    display: flex;
    padding: 2% 4%;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
}

nav img{
    width: 300px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffe7d8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   padding-top:90px;
}

.text-box h1{
    font-size: 50px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #ffbf97;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #fff;
    background: #ffbf97;
    transition: 1s;
}

nav .fa{
    display: none;
}

.tutoriales{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 50px;
    font-weight: 600;
}


p{
    color: #b36f46;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
}

.tutoriales-col {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;

}

.tutoriales-col1 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    background-image: linear-gradient(rgba(219, 191, 171, 0.7), rgba(219,191,171,0.7)), url(img/boton1.jpg);
}
.tutoriales-col1 h1{
    color: #fff;
}
.tutoriales-col2 h1{
    color: #fff;
    font-size: 44px;
}
.tutoriales-col3 h1{
    color: #fff;
}

.tutoriales-col1 h4{
    color: #fff;
}
.tutoriales-col2 h4{
    color: #fff;
}
.tutoriales-col3 h4{
    color: #fff;
}

.tutoriales-col2 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    background-image: linear-gradient(rgba(219, 191, 171, 0.7), rgba(219,191,171,0.7)), url(img/boton2.jpg);
}
.tutoriales-col3 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    background-image: linear-gradient(rgba(219, 191, 171, 0.7), rgba(219,191,171,0.7)), url(img/boton3.jpg);
}



.tutoriales-col{
    text-decoration: none;
}


h3{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin: 10px 0;
}

.tutoriales-col1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
    color: #fff;
}

.tutoriales-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
    color: #fff;
}
.tutoriales-col3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
    color: #fff;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(204, 183, 145, 0.7), rgba(204,183,145,0.7)), url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}

.sub-header h1{
    margin-top: 15px;
    font-size: 60px;

    
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30 px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
    font-size: 40px;
}

.about-col p{
    padding: 15px 0 25px;
    font-size: 14px;
}

.red-btn{
    border: 1px solid #b36f46;
    background: transparent;
    color:#b36f46;
}

.red-btn:hover{
    color: #fff;
}

.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(201, 189, 166, 0.7), rgba(201, 189, 166, 0.7)), url(img/banner3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffe7d8;
}

.sub-header2 h1{
    margin-top: 50px;
    font-size: 55px;
}

.video-col1 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 80%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position:relative;
}

.video-col1 h3{
    font-size: 27px;
}

.video-col1 p{
    font-size: 14px;
}

.video-col2 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}

.video-col2 h3{
    font-size: 27px;
}

.video-col2 p{
    font-size: 14px;
}

.video-col3 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}
.video-col3 h3{
    font-size: 27px;
}

.video-col3 p{
    font-size: 14px;
}
.video-col4 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}
.video-col4 h3{
    font-size: 27px;
}

.video-col4 p{
    font-size: 14px;
}
.video-col5{
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}
.video-col5 h3{
    font-size: 27px;
}

.video-col5 p{
    font-size: 14px;
}

.video-col6 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}
.video-col6 h3{
    font-size: 27px;
}

.video-col6 p{
    font-size: 14px;
}
.video-col7 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    
}
.video-col7 h3{
    font-size: 27px;
}

.video-col7 p{
    font-size: 14px;
}
.video-col8 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}
.video-col8 h3{
    font-size: 27px;
}

.video-col8 p{
    font-size: 14px;
}
.video-col9  {
    display: inline-block;
    text-decoration: none;
    flex-basis: 31%;
    background: #ffe7d8 ;
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
}
.video-col9 h3{
    font-size: 27px;
}

.video-col9 p{
    font-size: 14px;
}

.sub-headerf{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(201, 189, 166, 0.7), rgba(201,189,166,0.7)), url(img/banner4.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}

.sub-headerf h1{
    margin-top: 20px;
    font-size: 55px;
 
}

.sub-headerff{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(201, 189, 166, 0.7), rgba(201, 189, 166, 0.7)), url(img/banner5.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}

.sub-headerff h1{
    margin-top: 20px;
    font-size: 47px;
}

.sub-headerfff{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(201, 189, 166, 0.7), rgba(201, 189, 166, 0.7)), url(img/banner6.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}

.sub-headerfff h1{
    margin-top: 20px;
    font-size: 50px;
}

.offoffcanvas-body a ul{
    text-decoration: none;
    color: #b36f46;
    height: 50vh;
    text-align: center;
}
.offcanvas-header h5{
    color: #ffbf97;
    font-size: 30px; 
    text-align: center;
}
.container-fluid a{
    color: #ffbf97; 
    text-decoration: none;
    font-size: 20px;
}
.container-fluid a:hover{
    color: #b36f46; 
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
}
.dropdown-menu ul{
    color:#b36f46;
    font-size: 100px;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
    align-items: center;
}

.formulario__input{
    width: 100%;
    background: #ffe7d8;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__inout:focus{
    border: 3px solid #b36f46;
    outline: none;
    box-shadow: 3px 0px 30px rgba(0,0,0,0.4);

}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox{
    margin-right: 10px;
    align-items: center;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #b36f46;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    align-items: center;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 162, 148, 0.7) ;
}

.formulario__mensaje-exito{
    font-size: 14px;
    color:green;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}

/*-Estilos para Validación -*/

.formulario__grupo-correcto .formulario__validacion-estado{
    color: green;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

.sub-headerone {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(204, 183, 145, 0.7), rgba(204,183,145,0.7)), url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-headerone h1{
    font-size: 40px;
    padding-top: 30px;
}

.sub-headerone p{
     color:#fff;
}

/*- Mediaqueris-*/

@media screen and (max-width: 800px) { 
    .formulario{
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
        grid-column: 1;
    } 

    .formulario__btn{
        width: 100%;
    }
}
